<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pull Request Manager</title>
    <link rel="stylesheet" href="app/styles/main.css">
  </head>
  <body>

    <div id="repoManagerApp">
    
      <div id="loginScreen">
      
        <p>Please enter your Github account information in the form below, then click the Login button.</p>
        
        <div id="loginForm">
          
          <div id="usernameDiv">
            <label for="name" id="nameLabel">Username: </label>
            <input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all">
          </div>
          
          <div id="passwordDiv">
            <label for="password" id="passwordLabel">Password: </label>
            <input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all"></br>
          </div>
          <div id="loginButtonDiv">
            <button id="loginButton"> Login</button>
          </div>
        </div>
      </div>
    
      <div id="addRepositoryPanel" class="hidden">
        
        <p>Select repositories then click Monitor to add them to the list of monitored repositories.</p>
          
        <div id="addReposForm">
        
          <div id="ownerMenuDiv">
            <label for="owner" id="ownerLabel">Owner:</label>
            <select id="ownersMenu"></select>
          </div>
          
          <div id="reposMenuDiv">
            <label for="repo" id="repoLabel">Repo:</label>
            <select id="reposMenu"></select>
          </div>
          
          <div id="monitorButtonDiv">
            <button id="monitorButton">Monitor</button>
          </div>
          
        </div>
        
      </div>
	
      <div id="repositoriesView" class="hidden"></div>

    </div>
 
    <script type="text/template" id="tpl-repositories">
      <h3>Monitored Repositories</h2>
      <ul class="media-list row" id="repositories-list"></ul>
    </script>
    
    <script type="text/template" id="tpl-repository">
      <div class="repoData">
        <div class="repoName"><a href="<%- repoURL %>"><h4><%- name %></a></h4></div>
        <div class="repoOwner">Owner: <%- owner %></div>
        <div class="repoOpenPullRequests">Open pull requests: <%- openPullRequests %></div>
      </div>
      <button class="deleteRepoButton">Delete</button>
    </script>
   
	<script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="app/js/backbone.localStorage.js"></script>
    <script src="app/js/app.js"></script>

    <script src="app/js/models/owner.js"></script>
    <script src="app/js/collections/owners.js"></script>

    <script src="app/js/models/repository.js"></script>
    <script src="app/js/collections/menurepositories.js"></script>
    <script src="app/js/collections/monitoredrepositories.js"></script>

    <script src="app/js/views/ownersmenuoption.js"></script>
    <script src="app/js/views/ownersmenu.js"></script>

    <script src="app/js/views/repositoriesmenuoption.js"></script>
    <script src="app/js/views/repositoriesmenu.js"></script>

    <script src="app/js/views/repository.js"></script>
    <script src="app/js/views/repositories.js"></script>

    <script src="app/js/views/repomanagerapp.js"></script>
    
    <script>
      $(function(){
        PullRequestManager.start();
      });
    </script>
  </body>
</html>